body {
  background-color: rgba(247, 244, 244, 0.945);
}

nav {
  color: white;
}

h5 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
  display: inline;
  color: white;
  padding-left: 5px;
}

.container {
  background-color: white;
}

img {
  width: 18rem;
  object-fit: contain;
}

.card-img-top {
  height: 18rem;
}

.card {
  width: 18rem;
  box-shadow: 3px 3px 10px #888888
}

.card:hover {
  cursor: pointer;
  transform: scale(1.03)
}

.row {
  padding-top: 15px;
}

.hover {
  color: rgb(108,117,167);
}

.hover:hover {
  cursor: pointer;
  color: rgb(52,58,64);
}

.card-deck {
  margin-bottom: 0px 10px;
}

.col-4 {
  margin-bottom: 15px;
}

.fa-book-open {
  padding-top: 4px;
  padding-left: 7px;
}

.center  {
  padding-top: 20px;
  text-align: center;
}

.detailbox {
  margin: 25px;
}
